.repository-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px;
}

.repository-card {
  width: 700px;

  background: var(--bg-card);

  border: 1px solid var(--border-color);
  border-radius: 16px;

  padding: 32px;

  box-shadow: var(--shadow);

  text-align: center;
}

.repository-card h1 {
  margin-bottom: 12px;
}

.repository-description {
  color: var(--text-secondary);

  margin-bottom: 30px;

  line-height: 1.6;
}

.repository-info {
  display: flex;
  flex-direction: column;

  gap: 18px;

  margin-bottom: 30px;
}

.repository-info div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.repository-info strong {
  color: var(--text-main);
}

.repository-info span {
  color: var(--text-secondary);
}

.github-button {
  display: inline-block;

  padding: 12px 24px;

  background: var(--accent);

  color: white;

  text-decoration: none;

  border-radius: 10px;

  font-weight: bold;

  transition: 0.2s;
}

.github-button:hover {
  transform: translateY(-2px);
}