body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  transition: .2s;
}

#root {
  min-height: 100vh;
  background: var(--bg-main);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}